<% @data.each do |category| %>
<%= link_to  controller: "category",action:"subject" , id: category.id do %>
<p class="list_image"> <%= image_tag  category.image %> </p>
<p class="list_name"><%= category.name %></p>
<%end%>
<p class="list_summary"><%= category.summary %></p>
<HR>
<% end %>