<section id="thanks">
	<h2>Thanks You!</h2>
	<div class="thanks_message">
		<p>ご注文を確定しました。</p>
		<p>配送まで今しばらくお待ちください。</p>
	</div>
	<div class="next_page_select">
		<%= link_to '注文履歴' , homes_purchasedsbuy_path, class: "btn btn-outline-primary" %>
		<%= link_to 'Topページへ' , homes_purchasedsbuy_path, class: "btn btn-outline-primary" %>
	</div>
</section>