// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
	width: 280px;
}

p {
    margin: 10px 20px;
}

p.list_name{
	color:dorkgray;
	 font-size: 32pt;
	 margin: 30px ;
}

p.list_image{
	img {
		width: 200px;
	}
}

div.item_data{
    margin: 10px 20px;
	padding-top:0px;
	padding-bottom:0px;
	font-size: 10pt;
}

div.creater_data{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top:0px;
	padding-bottom:0px;
}

img.creater_icon{
	max-width: 50px;
	height: auto;
	padding:10px;
    float: right;
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom: 0%;
	margin-top: 0%;
}


div.creater_name{
    float: right;
	margin-right: 20px;
}
div.float_clear{
	clear:both;
}