// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
	width: 280px;
}

p {
    margin: 10px 20px;
}

p.list_name{
	color:dorkgray;
	 font-size: 32pt;
	 margin: 30px ;
}

p.list_image{
	img {
		width: 200px;
	}
}

