// Place all the styles related to the furnitures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// header
nav{
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	line-height: 1.5em;
	margin-bottom: 1em;
	font-size: 1.3em;
	position: relative;
	h1.logo{
		text-align: center;
		position: absolute;
		right: 0;
		left: 0;
		font-size: 1em;
		display: inline;
		line-height: 1.5em;
	}

	.navbar-toggler{
		border: none;
	}
	.navbar-brand{
		text-align: center;
	}
	.search_block{
		margin-top: 0.5em;
		font-size: 1em;
		line-height: 0.8em;
	}
	// placeholderにfontawesome
	input.font-awesome#inlineFormInputGroup{
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 1em;
	    text-decoration: inherit;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
}



.furniture_block{
	margin-bottom: 1em;
	border-bottom: 1px solid #333;
	.furniture_img_block{
		img{
			max-width: 100%;
		}
	}
}


// show.html.erb
#furnitura_detail_top{
	.furniture_top_img{
		img{
			width: 100%;
		}
	}
	.furniture_about_text{
		margin: 1em;
	}
}
#kodawari{
	.kodawari_img{
		img{
			width: 100%;
		}
	}
	.kodawari_text{
		margin: 1em;
	}	
}

// 購入CTA
.purchase_block{
	background-color: #d1718e;
	color: #fff;
	width: 100%;
	p{
		text-align: center;
		padding: 0.4em 0;
		line-height: 1.5em;
		font-size: 1.5em;	
	}	
}	

// kodawari