// Place all the styles related to the furnitures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 家具関連


// 共通部分
body{
 	background-color: #fafafa;
}

// header
.navbar-container {
	border: 1.2px solid #ccc;
	padding: 12px 5px;
}

.category_title{
	 .fa-user-circle{
	 	font-size: 1.5em;
	 }
}
.fa-search {
	color: #ccc;
}

nav{
	background-color: #fff;
	line-height: 1.5em;
	font-size: 1.3em;
	position: relative;
	h1.logo{
		text-align: center;
		position: absolute;
		right: 0;
		left: 0;
		font-size: 1em;
		font-weight: 300;
		display: inline;
		line-height: 1.5em;
		width: 30%;
		margin: 0 auto;
		a {
			color: #ccc;
		}
	}
	.navbar-toggler{
		border: none;
	}
	.navbar-brand{
		text-align: center;
	}
	.search_block{
		margin: 0.5em auto 0;
		font-size: 1em;
		line-height: 0.8em;
		width: 100%;
	}
	.category_title{
		color: #ccc !important;
		font-weight: 300;
		width: 20%;
	}
	// placeholderにfontawesome
	input.font-awesome#inlineFormInputGroup{
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 1em;
	    text-decoration: inherit;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
}

.furniture_block{
	margin-bottom: 1em;
	border-bottom: 1px solid #333;
	.furniture_img_block{
		img{
			max-width: 100%;
		}
	}
}

.furniture_container{
	border-bottom: 1px solid #ccc;
}


// footer
footer{
	background-color: #fafafa;
	margin-top: 1em;
	.company_info{
		padding:0.5em;
		h3,h4,p{
			margin: 0.4em 0;
		}
		h3,h4{
			font-size: 1.2em;
		}
	}
}



// furnitures/show.html.erb
#furniture_detail_top{
	.furniture_top_img{
		padding: 10px;
		img{
			width: 100%;
		}
	}
	.furniture_about_text{
		margin: 0 10px;
		h3 {
			color: #a9a9a9;
			margin: 20px 0;
		}
		.furniture_description{
			color: #c0c0c0;
			line-height: 1.5;
			margin-bottom: 20px;
		}
		.furniture_price{
			padding-bottom: 10px;
			color: #a9a9a9;
			font-size: 1.2em;
		}
	}
	.good_icon{
		font-size: 1em;
		i{
			color: #f4426b;
		}
	}
}
#kodawari{
	.kodawari_img{
		padding: 10px;
		img{
			width: 100%;
		}
	}
	.kodawari_text{
		margin: 0 10px;
		h3 {
			color: #a9a9a9;
			margin: 20px 0;
		}
		.kodawari_description{
			color: #c0c0c0;
			line-height: 1.5;
			margin-bottom: 20px;
		}
	}
}

// 購入CTA
.purchase_block{
	background-color: #d1718e;
	color: #fff;
	padding: 20px 20px;
	line-height: 1.5em;
	margin: 30px 10px;
}

.fa-shopping-cart{
	margin-right: 10px;
}


#recently_popular,#category_popular{
	margin-bottom: 2.5em;
	h2{
		font-size: 1.3em;
		color: #333;
		margin: 0.5em;
	}
	.recently_popular_blocks{
		list-style: none;
		padding: 0;
		white-space:nowrap;
		// width: 150%;
		overflow: scroll;
		li.product_block{
			height: 300px;
			width: 180px;
			background-color: #fff;
			border:1px solid #ccc;
			margin: 0 0.3em;
			display: inline-block;
			.furniture_img{
				margin: 0.5em;
				height: 150px;
				img{
					width: 165px;
					height: 150px;
					border-radius: 5px;
				}
			}
			.product_text{
				margin: 0.5em;
				img{
					width: 2.6em;
					height: 2.6em;
					border-radius: 50%;

				}
				.product_kodawari_block{
					h4{
						margin-bottom: 0.1em;
						font-size: 1.3em;
					}
					p{
	  					word-break: break-all;
	  					white-space: normal;
	  					color: #ccc;
	  					margin-top: 0;
	  					font-size: 0.9em;
	  					margin-left: 0.1em;
					}
				}
			}

		}
	}
}

#sumituku_block{
	margin-top: 3em;
	.crator_img_block{
		width: 85%;
		margin: 0 auto;
		img{
			text-align: center;
			width: 100%;
		}		
	}
	h2{
		text-align: center;
		font-weight: 1.3em;
	}

}








// kodawari
