// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#myproduct_block{
	margin-bottom: 2.5em;
	h2{
		font-size: 1.3em;
		color: #333;
		margin: 0.5em;
	}
	.row{
		margin: 0 auto;
		.product_block{
			height: 300px;
			background-color: #fff;
			border:1px solid #ccc;
			display: inline-block;
			padding: 0;
			margin: 0.3em auto;
			.furniture_img{
				margin: 0.1em;
				height: 150px;
				img{
					width: 165px;
					height: 150px;
					border-radius: 5px;
				}
			}
			.product_text{
				margin: 0.5em;
				img{
					width: 2.6em;
					height: 2.6em;
					border-radius: 50%;

				}
				.product_kodawari_block{
					h4{
						margin-bottom: 0.1em;
						font-size: 1.3em;
					}
					p{
	  					word-break: break-all;
	  					white-space: normal;
	  					color: #ccc;
	  					margin-top: 0;
	  					font-size: 0.9em;
	  					margin-left: 0.1em;
					}
				}
			}

		}
	}
}