 body{
 	background-color: #fafafa;
 }
.category_title{
	 .fa-user-circle{
	 	font-size: 1.5em;
	 }
 }
#recently_popular,#category_popular{
	margin-bottom: 2.5em;
	h2{
		font-size: 1.3em;
		color: #333;
		margin: 0.5em;
	}
	.recently_popular_blocks{
		list-style: none;
		padding: 0;
		white-space:nowrap;
		// width: 150%;
		overflow: scroll;
		li.product_block{
			height: 300px;
			width: 180px;
			background-color: #fff;
			border:1px solid #ccc;
			margin: 0 0.3em;
			display: inline-block;
			.furniture_img{
				margin: 0.5em;
				height: 150px;
				img{
					width: 165px;
					height: 150px;
					border-radius: 5px;
				}
			}
			h4{
				font-size: 1.2em;
				font-weight: bold;
				margin: 0.7em auto;
			}
			.product_kodawari_block{
				p{
  					word-break: break-all;
  					white-space: normal;
				}
			}
		}
	}
}

#sumituku_block{
	margin-top: 3em;
	.crator_img_block{
		width: 85%;
		margin: 0 auto;
		img{
			text-align: center;
			width: 100%;
		}		
	}
	h2{
		text-align: center;
		font-weight: 1.3em;
	}

}