// Place all the styles related to the Service_about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.ServiceTitle{
	display: block;
	text-align: center;
	font-size:200%;
	margin-top: 5%;
	margin-bottom: 5%;
}


img{
	display: block;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

p.sub_title{
	font-size:100%;
	margin-left: 10%;
	margin-right: 20%;
	margin-top: 15%;
	margin-bottom: 10%;
}

p.sub_discript{
	font-size:80%;
	margin-left: 10%;
	margin-top: -4%;
	margin-right: 7%;
}
